#snow-container {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
}

.main-container {
    position: relative;
}

.brown {
    color: #943126 ;
}

.red {
    color: red;
    font-weight: bold;
}
