.navbar {
    background-color: #b0deff;
}

.navbar-nav {
    --bs-scroll-height: 55vh;
}

#icon {
    height: 2em;
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
}

.alert>p:last-child {
    margin-bottom: 0;
}

/* Bootstrap CSP violation fixes */
.btn-close {
    --bs-btn-close-bg: url("/img/close-button.svg");
}

.form-select {
    --bs-form-select-bg-img: url("/img/select-dropdown.svg")
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("/img/navbar-toggler.svg");
}
